.mainAccountContainer
  width: 90%
  margin: 45px 15px 25px 35px
  display: flex
  justify-content: space-around
  flex-direction: row
  background-color: #F4F4F4
  border-radius: 25px
  font-family: 'Indie Flower'
  font-size: 20px
  color: #C0B283
  padding-bottom: 15px
  text-align: center
  h1
    font-size: 40px
  h5
    font-size: 22px
  button
    margin: 5px 0 5px 0
    font-size: 16px

.acountInfo
  background-color: #373737
  border-radius: 25px

.orders
  text-align: center
  width: 100%
  h1
    font-size: 40px
.singleOrder
  background-color: #373737
    border-radius: 25px
    opacity: .8
    margin: 5px
    padding: 5px
