@import url('https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600');
body
  // background-color: #DDD1C1
  background-image: url(https://images.unsplash.com/photo-1478615604811-2512c2a8fbf0?dpr=2&auto=format&fit=crop&w=767&h=509&q=80&cs=tinysrgb&crop=)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
.topHeader
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-image: url('https://static1.squarespace.com/static/57dad7a4f5e231f8a0209a8c/t/57ddbc8c414fb5461958858c/1474149522620/IMG_4832.jpg?format=2500w');
  background-repeat: no-repeat
  // background-position:center; see home.html
  background-size: cover
  width: 90%
  height: 87vh
  margin-top: 52px
  border-radius: 25px

  h1
    // color: #C0B283
    color: rgba(23, 166, 151, 1)
    text-align: center
    font-size: 80px
    font-family: 'Indie Flower', cursive
    background: rgba(56, 56, 56, 0.85)
    border-radius: 20px
    // opacity: .85
    padding: 15px
    // font-family: 'Tillana', cursive;
    // font-family: 'Fontdiner Swanky', cursive;
    // font-family: 'Prosto One', cursive;


.mainHomeContainer
  background-color:
  display: flex
  flex-wrap: wrap
  flex-direction: row
  .homeRowContainer
    margin: 10px 0 10px
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 15px
    @media screen and(max-width:900px)
      flex-direction: column
    .homeImageContainer
      margin: 0 10px 0 10px
    .homeImage
      border-radius: 20px
      margin: 0 10px 0 10px
      height: 350px
      width: 450px
      @media screen and(max-width:900px)
        display: none
    .homeText
      letter-spacing: 1px
      font-family: 'Indie Flower'
      font-weight: bolder
      padding: 20px
      border-radius: 30px
      background-color:#F4F4F4
      // color: #C0B283
      color: #638CA6
      // max-height: 420px
      h1
        text-align: center
        font-size: 50px
        &:hover
          color:#373737
          cursor: pointer
      p
        text-align: justify
        font-size: 20px

.iconHolder
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  text-align: center
  li
    // min-width: 18.5%
    width: 20%
    list-style-type: none
    text-decoration: none
    letter-spacing: 1px
    border: .25px solid rgba(23, 166, 151, 1)
    margin: 5px
    padding: 5px
    border-radius: 25px
    &:hover
      background-color: rgb(190, 218, 211)
      font-weight: bolder
    a
      text-decoration: none
      span
        margin: 0 -3px
