$teal: rgba(23, 166, 151, 1)

.mainLoginContainer
  width: 97%
  margin: 13px
  margin-top: 62px
  padding: 20px
  display: flex
  align-items: center
  flex-direction: row
  background-color: #F4F4F4
  border-radius: 25px
  font-family: 'Indie Flower'
  color: $teal
  @media (max-width: 780px)
    flex-direction: column
  .loginContainer
    width: 50%
    justify-content: space-around
    padding: 10px
    margin: 10px
    h2
      text-align: center

.longerinput
  width: 100%
  border-radius: 4px

.loginButton
  margin-top: 15px
  border-radius: 4px
  background: none;

.newUserForm
  width: 80%
  text-align: center
  form
    input
      margin: 5px 2px 5px 2px
      width: 75%
      border-radius: 4px
    button
      border-radius: 4px
      background: none;

.stateSelectContainer
  width: auto

.stateSelect
    width: 20%
    margin: auto
    text-align: center
