@import url('https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600')

.storeSearchBar
  width: 40vw
  margin: auto
  // border-radius: 25px
  margin-top: 15px
  font-family: 'Indie Flower'
  color: #C0B283

.shopSort
  width: 100%
  display: flex
  justify-content: center
  margin: 15px 0 15px 0
  font-family: 'Indie Flower'
  color: #373737

.row
  margin: auto

.shopProductContainer
  height: 350px
  background-color: #F4F4F4

.shopImg
  max-height: 200px
  max-width: 300px
  padding-top: 10px

.shopCaption
  color: #C0B283
  font-family: 'Indie Flower'
