<section class="productMainContainer">
  <div class="productMainImageContainer">
    <img ng-src='{{product.imageurl}}' alt="your image" />
  </div>

  <!-- ng-repeat joined table? -->
  <div class="carouselContainer">
    <!-- may need more of the following? -->
    <div class="couroselImage">
      <img ng-src='{{product.imageurl}}' alt="carousel image1"/>
    </div>
    <div class="couroselImage">
      <img ng-src='{{product.imageurl}}' alt="carousel image2" />
    </div>
    <div class="couroselImage">
      <img ng-src='{{product.imageurl}}' alt="carousel image3" />
    </div>
  </div>

  <section class="productDescriptionContainer">
    <div class="sect1">
      <h5>weight: {{product.weight}} {{product.weighttype}}</h5>
      <h5>measurements: {{product.measurements}}</h5>
    </div>

    <div class="sect2">
      <p>
        description: {{product.description}}
      </p>
    </div>

    <div class="sect3">
      <h5>Price: {{product.price}}</h5>
      <button ui-sref='cart({})' type="button" name="button">Add to Cart</button>
    </div>
  </section>
</section>
