<div class="mainProductContainer">
  <h1>{{product.title}}</h1>
    <div class="productMainImageContainer">
      <img ng-src='{{product.imageurl}}' alt="your image" />
    </div>

    <!-- ng-repeat joined table? -->
    <div class="carouselContainer">
      <!-- may need more of the following? -->
      <div class="couroselImage">
        <img ng-src='{{product.imageurl}}' alt="carousel image1"/>
      </div>

    </div>

    <section class="productDescriptionContainer">
      <div class="sect1">
        <h3>Weight: {{product.weight}} {{product.weighttype}}</h3>
        <h3>Measurements: {{product.measurements}}</h3>
      </div>

      <div class="sect2">
        <h3>
          Description:
        </h3>
        <h3>
          {{product.description}}
        </h3>
      </div>

      <div class="sect3">
        <h3>Price: ${{product.price}}</h3>
      </div>
    </section>
    <button  class="addtocart" name="button" ui-sref="cart({id: user.id})"> View Cart</button>
    <button  class="addtocart" ui-sref="cart({id: user.id})" type="button" name="button" ng-click="addToCart(orderid,product.id,qty)">Add to Cart</button>
</div>
