<section class="productMainContainer">
  <div class="productMainImageContainer">
    <img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300%C3%97300&w=300&h=300" alt="" />
  </div>
  <div class="carouselContainer">
    <!-- may need more of the following? -->
    <div class="couroselImage">
      <img src="https://placeholdit.imgix.net/~text?txtsize=23&bg=000000&txt=250%C3%97250&w=250&h=250" alt="" />
    </div>
    <div class="couroselImage">
      <img src="https://placeholdit.imgix.net/~text?txtsize=23&bg=000000&txt=250%C3%97250&w=250&h=250" alt="" />
    </div>
    <div class="couroselImage">
      <img src="https://placeholdit.imgix.net/~text?txtsize=23&bg=000000&txt=250%C3%97250&w=250&h=250" alt="" />
    </div>
  </div>

  <section class="productDescriptionContainer">
    <div class="sect1">
      <h3>weight: {{product.weight}} {{product.weighttype}}</h3>
      <h3>measurements: {{product.measurements}}</h3>
    </div>

    <div class="sect2">
      <p>
        description... : {{product.description}}
      </p>
    </div>

    <div class="sect3">
      <h3>Price: {{product.price}}</h3>
      <button ui-sref='cart({})' type="button" name="button">Add to Cart</button>
    </div>
  </section>
</section>
