<div class="contactContainer">
  <h1>Questions or Comments?</h1> <br />
  <h3>We would Love to hear from you!</h3>
</div>

<form class="contactForm" action="orderSuccess.html" method="post">
  <input type="text" name="name" value="" placeholder="Name">
  <input type="text" name="phone" value="" placeholder="Phone">
  <input type="text" name="email" value="" placeholder="Email">
  <input type="text" name="comment" value="" placeholder="Question or comment...">
  <input type="submit" name="submit" value="Submit">
</form>
