<div>
  <h1>Success!!</h1>
  <h3>Your Order has been successfully submitted</h3>
  <h3>You will shortly receive an Email Confirmation of your order</h3>
</div>

<div class="successSect">
  <p class="thankYouBox">
    Thank you for your Order.  You can see this order and all other orders under My Orders in your Account.
  </p>
  <div class="successButtonContainer">
    <button  ui-sref='account' type="button" name="button">Return to My Account</button>
    <button ui-sref='shop' type="button" name="button">Return to Shop</button>
  </div>
</div>
