@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600");
* {
  letter-spacing: 1px; }

.navbar-default {
  background-color: #ebebeb;
  min-width: 100%; }

.headerBackground {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  max-width: 100%; }

.mainTitleWrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px; }
  .mainTitleWrapper .mainTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    margin-top: 52px;
    border-radius: 25px;
    background-repeat: no-repeat;
    max-height: 60vh; }
    .mainTitleWrapper .mainTitleContainer h1 {
      color: #17a697;
      text-align: center;
      font-size: 80px;
      font-family: 'Indie Flower', cursive;
      background: #383838;
      border-radius: 20px;
      opacity: .85ß;
      padding: 15px;
      letter-spacing: 2px; }
      @media (max-width: 770px) {
        .mainTitleWrapper .mainTitleContainer h1 {
          font-size: 40px; } }
    .mainTitleWrapper .mainTitleContainer h3 {
      color: #373737;
      font-size: 35px;
      text-align: center;
      font-family: 'Indie Flower', cursive; }

hr {
  border: .5px white solid; }

@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600");
.aboutRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  height: 80vh; }
  @media screen and (max-width: 850px) {
    .aboutRowContainer {
      flex-direction: column; } }

.aboutText {
  letter-spacing: 1px;
  font-family: 'Indie Flower';
  font-weight: bolder;
  padding: 20px;
  border-radius: 30px;
  background-color: #F4F4F4;
  margin: 10px;
  max-height: 400px;
  min-width: 480px; }

.atext {
  text-align: justify;
  font-size: 20px;
  color: #17a697; }

.aboutImage {
  max-height: 350px;
  max-width: 500px;
  margin: 10px;
  border-radius: 25px; }

.mainAccountContainer {
  width: 90%;
  margin: 45px 15px 25px 35px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #F4F4F4;
  border-radius: 25px;
  font-family: 'Indie Flower';
  font-size: 20px;
  color: #17a697;
  padding-bottom: 15px;
  text-align: center; }
  @media (max-width: 780px) {
    .mainAccountContainer {
      flex-direction: column; } }
  .mainAccountContainer h1 {
    font-size: 40px; }
  .mainAccountContainer h5 {
    font-size: 22px; }

.accountUpdate {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .accountUpdate input {
    margin: 5px 0; }
  .accountUpdate button {
    margin: 5px 0;
    font-size: 12px;
    min-width: 35%;
    justify-content: center; }

.acountInfo {
  background-color: #373737;
  border-radius: 25px; }

.orders {
  text-align: center;
  min-width: 48%; }
  .orders h1 {
    font-size: 40px; }

.singleOrder {
  background-color: #373737;
  border-radius: 25px;
  opacity: .8;
  margin: 5px;
  padding: 5px; }

.accountHr {
  color: #C0B283; }

.mainCartWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 62px; }
  .mainCartWrapper h1 {
    background-color: rgba(55, 55, 55, 0.85);
    color: #17a697;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    border-radius: 25px;
    padding: 15px 25px 15px 25px; }

.cartHr {
  border: 1px solid;
  width: 100%;
  margin-bottom: 35px; }

.mainCartContainer {
  margin-bottom: 25px;
  margin-top: 62px;
  flex-direction: column;
  background-color: rgba(55, 55, 55, 0.85);
  color: #17a697;
  font-family: 'Indie Flower', cursive;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 25px;
  font-size: 22px; }

.cartItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 15px; }
  .cartItemContainer ul {
    width: 80%; }
    .cartItemContainer ul li {
      margin: 15px;
      border: 1px solid white;
      border-radius: 25px;
      padding: 10px; }
      .cartItemContainer ul li button {
        min-width: 15%;
        font-size: 12px;
        justify-content: flex-end;
        border-radius: 25px;
        color: black; }

.cartList h5 {
  font-size: 22px; }

.doubleCheckContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: center;
  text-align: center;
  padding: 10px; }
  .doubleCheckContainer form {
    padding-bottom: 15px; }

.cartTotalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right; }
  .cartTotalContainer h5 {
    width: 80%;
    font-size: 20px;
    margin-bottom: 20px; }
  .cartTotalContainer h4 {
    width: 80%;
    font-size: 30px; }

@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600");
.collectionCaption {
  font-family: 'Indie Flower';
  text-align: center; }
  .collectionCaption h3 {
    color: #17a697; }

@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600");
body {
  background-image: url(https://images.unsplash.com/photo-1478615604811-2512c2a8fbf0?dpr=2&auto=format&fit=crop&w=767&h=509&q=80&cs=tinysrgb&crop=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.topHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static1.squarespace.com/static/57dad7a4f5e231f8a0209a8c/t/57ddbc8c414fb5461958858c/1474149522620/IMG_4832.jpg?format=2500w");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 89vh;
  margin-top: 52px;
  border-radius: 25px; }
  .topHeader h1 {
    color: #17a697;
    text-align: center;
    font-size: 80px;
    font-family: 'Indie Flower', cursive;
    background: rgba(56, 56, 56, 0.85);
    border-radius: 20px;
    padding: 15px; }

.mainHomeContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .mainHomeContainer .homeRowContainer {
    margin: 10px 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px; }
    @media screen and (max-width: 900px) {
      .mainHomeContainer .homeRowContainer {
        flex-direction: column; } }
    .mainHomeContainer .homeRowContainer .homeImageContainer {
      margin: 0 10px 0 10px; }
    .mainHomeContainer .homeRowContainer .homeImage {
      border-radius: 20px;
      margin: 0 10px 0 10px;
      height: 350px;
      width: 450px; }
      @media screen and (max-width: 900px) {
        .mainHomeContainer .homeRowContainer .homeImage {
          display: none; } }
    .mainHomeContainer .homeRowContainer .homeText {
      letter-spacing: 1px;
      font-family: 'Indie Flower';
      font-weight: bolder;
      padding: 20px;
      border-radius: 30px;
      background-color: #F4F4F4;
      color: #638CA6; }
      .mainHomeContainer .homeRowContainer .homeText h1 {
        text-align: center;
        font-size: 50px; }
        .mainHomeContainer .homeRowContainer .homeText h1:hover {
          color: #373737;
          cursor: pointer; }
      .mainHomeContainer .homeRowContainer .homeText p {
        text-align: justify;
        font-size: 20px; }

.iconHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center; }
  .iconHolder li {
    width: 20%;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 1px;
    border: 0.25px solid #17a697;
    margin: 5px;
    padding: 5px;
    border-radius: 25px; }
    .iconHolder li:hover {
      background-color: #bedad3;
      font-weight: bolder; }
    .iconHolder li a {
      text-decoration: none; }
      .iconHolder li a span {
        margin: 0 -3px; }

.mainLoginContainer {
  width: 97%;
  margin: 13px;
  margin-top: 62px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #F4F4F4;
  border-radius: 25px;
  font-family: 'Indie Flower';
  color: #17a697; }
  @media (max-width: 780px) {
    .mainLoginContainer {
      flex-direction: column; } }
  .mainLoginContainer .loginContainer {
    width: 50%;
    justify-content: space-around;
    padding: 10px;
    margin: 10px; }
    .mainLoginContainer .loginContainer h2 {
      text-align: center; }

.longerinput {
  width: 100%;
  border-radius: 4px; }

.loginButton {
  margin-top: 15px;
  border-radius: 4px;
  background: none; }

.newUserForm {
  width: 80%;
  text-align: center; }
  .newUserForm form input {
    margin: 5px 2px 5px 2px;
    width: 75%;
    border-radius: 4px; }
  .newUserForm form button {
    border-radius: 4px;
    background: none; }

.stateSelectContainer {
  width: auto; }

.stateSelect {
  width: 20%;
  margin: auto;
  text-align: center; }

.successContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Indie Flower';
  height: 90vh;
  width: 80%; }
  @media (max-width: 790px) {
    .successContainer {
      height: auto; } }
  .successContainer h1 {
    margin-top: 100px;
    font-size: 60px;
    color: #17a697;
    background: rgba(55, 55, 55, 0.85);
    padding: 15px;
    border-radius: 25px; }
    @media (max-width: 790px) {
      .successContainer h1 {
        font-size: 30px; } }

.successWrapper {
  background-color: rgba(244, 244, 244, 0.85);
  border-radius: 25px; }
  .successWrapper .successHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; }
    .successWrapper .successHeader h3 {
      font-size: 30px;
      color: #17a697; }
      @media (max-width: 790px) {
        .successWrapper .successHeader h3 {
          font-size: 15px; } }

.successSect {
  display: flex;
  flex-direction: row;
  font-family: 'Indie Flower', cursive;
  color: #17a697;
  padding: 15px;
  width: 70%;
  min-width: 60%; }
  @media (max-width: 790px) {
    .successSect {
      flex-direction: column; } }

.successButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .successButtonContainer button {
    font-size: 18px;
    margin: 5px;
    border-radius: 10px;
    background: rgba(244, 244, 244, 0.85); }
    @media (max-width: 790px) {
      .successButtonContainer button {
        font-size: 9px; } }

.thankYouBox {
  background: rgba(244, 244, 244, 0.85);
  border-radius: 25px;
  padding: 15px;
  font-size: 22px; }
  @media (max-width: 790px) {
    .thankYouBox {
      font-size: 11px; } }

.mainProductContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 20px;
  font-family: 'Indie Flower';
  color: #17a697;
  font-size: 50px; }

.carouselContainer {
  border-radius: 20px;
  background-color: #373737;
  margin: 15px 0 15px 0;
  padding: 15px;
  width: 55%;
  max-height: 400px; }
  .carouselContainer img {
    max-height: 100px;
    max-width: 125px; }

.productDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-bottom: 20px;
  background-color: #F4F4F4;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Indie Flower';
  font-size: 30px;
  color: #17a697; }

.addtocart {
  margin-bottom: 20px;
  background-color: #F4F4F4;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Indie Flower';
  font-size: 20px;
  color: #C0B283; }

@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600");
.storeSearchBar {
  width: 40vw;
  margin: auto;
  margin-top: 15px;
  font-family: 'Indie Flower';
  color: #17a697;
  border-radius: 4px;
  background: #F4F4F4; }

.shopSort {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
  font-family: 'Indie Flower';
  color: #373737; }

.row {
  margin: auto; }

.shopProductContainer {
  height: 480px;
  max-height: 480px;
  background-color: #F4F4F4;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #17a697;
  font-family: 'Indie Flower';
  text-align: center;
  padding: 10px; }
  @media (max-width: 770px) {
    .shopProductContainer {
      max-width: 75%;
      margin: 15px auto; } }
  .shopProductContainer div a {
    text-decoration: none; }
    .shopProductContainer div a:hover {
      text-decoration: none; }
    .shopProductContainer div a h3 {
      font-size: 28px;
      color: #17a697; }
      @media (max-width: 780px) {
        .shopProductContainer div a h3 {
          font-size: 16px; } }
      .shopProductContainer div a h3:hover {
        color: teal;
        font-weight: bold; }

.shopImg {
  max-height: 200px;
  max-width: 300px;
  padding-top: 10px; }

.shopCaption {
  justify-content: space-between; }
  .shopCaption a {
    padding: 5px; }
  @media (max-width: 780px) {
    .shopCaption p {
      font-size: 14px; } }

@media (max-width: 770px) {
  .mobile {
    justify-content: space-around; } }
