@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Fontdiner+Swanky|Indie+Flower|Kalam:700|Prosto+One|Tillana:600");
* {
  margin: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  padding-top: 12vh;
  margin-bottom: 60px;
  height: 100vh; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100vh;
  height: 60px; }

.navbar-default {
  background-color: white;
  border-color: white;
  min-width: 100%; }

.headerBackground {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  max-width: 100%; }
