<div class="contactMainContainer" style="background-position: center">
  <div class="mainTitleWrapper" id='mainCollectionContainer'>
    <div class="mainTitleContainer" style="background-image:none; margin: -52px; margin: 0 10px 0 10px">
      <h1 style="background: none; color: white;">Questions or Comments?</h1> <br />
      <h3 style="color:white">We would Love to hear from you!</h3>
    </div>
    <!-- add 'method="post"' to form? -->

    <div id="form-main">
      <div id="form-div">
        <form class="form" id="form1" ng-model='user' data-ng-submit="sendMail(users.firstname, users.lastname, users.email, users.phone, message)">

          <p class="name">
            <input name="name" type="text" class="feedback-input" placeholder="{{users.fistname}}" id="name" ng-model="users.firstname" required />
          </p>
          <p class="name">
            <input name="name" type="text" class="feedback-input" placeholder="{{users.lastname}}" id="name" ng-model="users.lastname"  required/>
          </p>

          <p class="email">
            <input name="email" type="text" class="feedback-input" id="email" placeholder="{{users.email}}" ng-model='users.email' required/>
          </p>

          <p class="email">
            <input name="phone" type="text" class="feedback-input" id='phone' placeholder="Phone" ng-model='users.phone' />
          </p>

          <p class="text">
            <textarea name="text" class="feedback-input" id="message" placeholder="Message" ng-model='message' required></textarea>
          </p>


          <div class="submit">
            <input type="submit" value="SEND" id="button-blue"/>
            <div class="ease"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
