<div>
  <h1>Your Account</h1>
</div>

{{user}}

<section class="mainAccountContainer">
  <div class="accountInfo">
    <h1>Account Information</h1>
    <h5>Username: {{user.username}}</h5>
    <h5>Password: *****</h5>
    <button type="button" name="button">Change Username</button>
    <button type="button" name="button">Change Password</button>
  </div>

  <div class="Orders">
    <div class="singleOrder">
      <h1>Orders</h1>
      <h5>Order Number: ordernumber</h5>
      <h5>Price: price</h5>
      <h5>OrderPlaced: dateplaced</h5>
      <a href="https://www.ups.com/WebTracking/track">Tracking: number</a>
    </div>

    <div class="shipping">
      <h1>Shipping Preferences</h1>
      <input type="text" name="name" value="" placeholder="Ship To">
      <input type="text" name="name" value="" placeholder="Street or PO Box">
      <input type="text" name="name" value="" placeholder="City">
      <input type="text" name="name" value="" placeholder="State">
      <input type="text" name="name" value="" placeholder="Zip">
      <button type="button" name="button">Save Changes</button>
    </div>

    <!-- Billing info for future?  -->
    <div class="billing">
      <h1>Billing Info</h1>

    </div>

  </div>
</section>
